* {
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: 'Roboto', helvetica;
  -webkit-font-smoothing: antialiased;

}

h1 {
  font-size: 19pt;
  font-weight: lighter;
  line-height: normal;
  padding: 0 5% 0 5%;
}

p {
  padding: 0 5% 0 5%;
  font-weight: lighter;
}

#logo {
  width: 10em;
}

#hideText {
  display: none;
}

.dropdown-menu li {
    padding-top: 7%;
}

.mainWrap {
  max-width: 1600px;
  width: 100%;
  height: 100%;

}

.mainSection {
  width: 100vw;
  height: 50vh;
  background-image: url("../img/manOnCouch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  position: relative;
}


.mainTextBox {
  background-color: #263238;
  color: white;
  width: 80%;
  position:absolute;
  top: 55%;
  left: 4%;
}

.secondTextBox {
  background-color: #0D47A1;
  color: white;
  width: 60%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 40%;

}

.secondTextBox h1 {
  font-size: 14pt;
  /*line-height: normal;*/
}

.secondTextBox p {
  margin-top: -7px;
  /*line-height: normal;*/
}
.secondSection {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/ladyLaptop.jpg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: -90px 0;
  position: relative;
}

.thirdTextBox h1 {
  font-size: 14pt;
  /*line-height: normal;*/
}

.thirdTextBox p {
  margin-top: -7px;
}

.thirdTextBox {
  background-color: #009688;
  color: white;
  width: 60%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 40%;
}

.thirdSection {
  width: 100vw;
  height: 15vh;
  background-image: url("../img/peopleTablet.jpg");
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: -80px 0;
  position: relative;
}

@media screen and (min-width:600px) {

    h1 {
      font-size: 19pt;
      font-weight: lighter;
      line-height: 19pt;
      padding: 0% 5% 0 5%;
      margin-top: 3%;
    }

    p {
      padding: 0 5% 10% 5%;
      font-weight: lighter;
      line-height: normal;
    }

    #hideText {
      display: inline;
    }

    .mainTextBox {
      background-color: #263238;
      color: white;
      width: 21em;
      height: 21em;
      position:absolute;
      top: 17%;
      left: 4%;

    }

    .mainTextBox h1 {
      padding: 7% 7% 0 7%;
      width: 10em;
      text-align: left;
      line-height: 25pt;
    }

    .mainSection p {
      padding: 0 7% 3% 7%;
      width: 10em;
      text-align: left;
      line-height: normal;
    }

    .mainSection {
      width: 100%;
      height: 40vh;
      background-image: url("../img/manOnCouch.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      position: relative;
    }

  .secondTextBox {
    background-color: #0D47A1;
    color: white;
    width: 100%;
    height: 60%;
    position:absolute;
    top: 100%;
    left: 0;
  }

  .secondSection {
    width: 50%;
    height: 19vh;
    background-image: url("../img/ladyLaptop.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 50%;
    position: relative;
    float: left;
  }

  .thirdTextBox {
    background-color: #009688;
    color: white;
    width: 100%;
    height: 60%;
    position:absolute;
    top: 100%;
    left: 0;
  }

  .thirdSection {
    width: 50%;
    height: 19vh;
    background-image: url("../img/peopleTablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    float: left;
  }

  @media screen and (min-width:1000px) {

    .mainTextBox {
      background-color: #263238;
      color: white;
      width: 22em;
      height: 22em;
      position:absolute;
      top: 48%;
      left: 4%;
    }

    .mainTextBox h1 {
      padding: 7% 7% 0 7%;
      line-height: 25pt;
      width: 10em;
      text-align: left;
      font-size: 23pt;
    }

    .mainSection p {
      padding: 0 7% 3% 7%;
      /*line-height: 25pt;*/
      width: 10em;
      text-align: left;
    }

    .mainSection {
      width: 60vw;
      height: 65.9vh;
      max-width: 70%;
      background-image: url("../img/manOnCouch.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      position: relative;
      float: left;
    }


  .secondTextBox {
    background-color: #0D47A1;
    color: white;
    width: 100%;
    height: 12vh;
    position:absolute;
    top: 100%;
    left: 0;
  }

  .secondSection {
    width: 100%;
    height: 21vh;
    max-width: 25%;
    background-image: url("../img/ladyLaptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    float: left;
  }

  .thirdTextBox {
    background-color: #009688;
    color: white;
    width: 100%;
    height: 12vh;
    position:absolute;
    top: 100%;
    left: 0;
    padding-top:
  }

  .thirdSection {
    width: 100%;
    height: 21vh;
    max-width: 25%;
    background-image: url("../img/peopleTablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    float: left;
    margin-top: 117px;
  }

  .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
